.costIndicator{
    margin-top: -0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

.tdCell {
    text-align: center;
}

.tdCellGray {
    text-align: center;
    background-color: #eee !important;
}